/* Write your code here. */
li {
  list-style-type: none;
  width: 50px;
  margin-right: 10px;
}
li > button {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  border: none;
}
img {
  width: 100%;
  height: 100%;
}
